#parse("header.vm")
#set($nav="dataset-structure")
#parse("navbar.vm")
<div class="container">
  #set($structure = $lib.json.asJson($dsapi.datasetStructureEndpoint("en",$dataset, $uri)))
  
  <h2>Data for data set: $structure.label.value()</h2>

  <h3>JSON Query</h3>
  <form method='POST' action='$root/$uri'>
    <textarea cols='80' rows='10' name='json' id="json">
     
    </textarea>
  </form>

  <button id="query-json" type="button" class="btn btn-primary" data-target="$root/$uri">Query json</button>

  <button id="query" type="button" class="btn btn-primary" data-target="$root/$uri">Query</button>

  <button id="explain" type="button" class="btn btn-info" data-target="$root/dataset/$dataset/explain">Explain</button>
    
  <div id="results">
  </div>
  
## outer container div is closed in footer.vm
#parse("footer.vm")
